@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../assets/fonts/Rubik-Regular.ttf") format("truetype");
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
}

p {
    margin: 0;

}
